.git
.gitignore

.env
.venv/
**/.venv/

__pycache__/
**/__pycache__/
*.pyc

*.bak*
*.broken*

.terraform/
**/.terraform/
*.tfstate
*.tfstate.*

logs/
*.log

monitoring/grafana/data/
monitoring/prometheus/data/
